@import "./base/reset";
@import "./abstracts/variables", "./abstracts/mixin";

//import sirasi onemlidir. Ortak olan dosyalara her yerden erisim saglayabilmemiz 
//icin oncelikle ortak dosylari import etmemiz gerekiyor.

@import "./components/footer", "./components/navbar","./components/responsive";
@import "./sections/about", "./sections/destination", "./sections/quide", "./sections/home.scss"; 

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Mulish&family=Playfair+Display&family=Rampart+One&display=swap");


body {
    background-color: $mainColor;
    position: relative;

}

button, i {
    cursor: pointer;
}