*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* <!-- ******************main area --> */
#section{
background-image: url(./img/banner.jpg);
background-repeat: no-repeat;
background-size:cover;
background-position: center;
height: 100vh;
padding-top: 14rem;
color: rgb(147,38,147);
}

i{
    /* display: flex; */
    width: 9rem;
    height: 9rem;
    /* justify-content: center;
    align-items: center; */
}