body {
  font-family: "Quicksand", sans-serif;
}

/** class'ı language olan ul elementini sec */
ul.languages {
  font-family: "Bruno Ace SC", cursive;

  /*? Madde imi stilleri */
  list-style-type: circle;
  list-style-type: square;
  list-style-type: none;
  list-style-type: lower-latin;
  list-style-type: georgian;

  /*? Madde iminin yeri li'lerin içerisinde mi yoksa dışında mı olacak */
  list-style-position: outside;

  /*? Madde imlerinin soldaki boşluğunu ayarlamak için */
  padding: 20px;

  /*? madde iminin seklini linkteki icona gore sec */
  list-style-image: url("../img/igloo-solid.svg");
}

h2 {
  color: blueviolet;
}

/*? h2 icerisindeki i elementine uygula */
h2 i {
  /** iconlarin buyuklugunu 40px yap */
  font-size: 40px;
}

/*? fa-solid adindaki class'a uygula */
.fa-solid {
  /** iconlarin rengini red yap */
  color: red;
}
/*!----- PSEUDO CLASSES ------- */
ul.pseudo li {
  background-color: darkgray;
  font-weight: 700;
}

ul.pseudo li:first-child {
  color: blue;
}

ul.pseudo li:last-child {
  color: green;
}

ul.pseudo li:nth-child(5) {
  color: purple;
  font-weight: 300;
}

ul.pseudo li:nth-child(odd) {
  color: hotpink;
  background-color: lightgray;
}

ul.pseudo li:nth-child(even) {
  color: lightsalmon;
}

/* ? Fare ile li'lerin uzerine gelindiginde */
ul.pseudo li:hover {
  /* opacity: 0.5; */
  background-color: black;
  cursor: pointer;
  /* display: inline-block; */
}

/* ? Fare'nin sol tusu ile bir li'ye tiklanildiginda */
ul.pseudo li:active {
  background-color: green;
  cursor: pointer;
  /* display: inline-block; */
}

/*? class'i x olan p elementinin icerinde .y class'inin içindeki z id'li elementi sec  */
/* p.x .y #z{
}
<p class="x">
<div class="y">
  <div id="z"></div>
  <div class="k"></div>  
</div>
</p> */
