body {
  
font-family: 'Quicksand', sans-serif;
}

/* ?class'i language olan ul elementini sec */
ul.languages {
  font-family: 'Bruno Ace', cursive;
  /*? Madde imi stilleri */
  list-style-type: circle;
  list-style-type: square;
  list-style-type: none;
  list-style-type: lower-latin;
  list-style-type: georgian;

  /*? Madde iminin yeri li'lerin içerisinde mi yoksa dışında mı olacak */
  list-style-position: outside;

  /*? Madde imlerinin soldaki boşluğunu ayarlamak için */
  padding: 20px;

  /*? madde iminin seklini linkteki icona gore sec */
  list-style-image: url("../img/igloo-solid.svg");
}

h2 {
  color: blueviolet;
}

/*? h2 icerisindeki i elementine uygula */
h2 i {
    /** iconlarin buyuklugunu 40px yap */
  font-size: 40px;
}

/*? fa-solid adindaki class'a uygula */
.fa-solid {
  /** iconlarin rengini red yap */
  color: red;
}


/* ! --------PSEUDO CLASSES-------------- */
ul.pesudo li:first-child {
  color: blue;
  font-weight: 700;
  background-color: darkgray;
}
ul.pesudo li:last-child {
  color: green;
  font-weight: 700;
}
ul.pesudo li:nth-child(odd) {
  color: hotpink;
  font-weight: 700;
  background-color: lightgray;
}
ul.pesudo li:nth-child(even) {
  color: lightsalmon;
  font-weight: 700;
  
}

/*? class'i x olan p elementinin icerinde .y class'inin içindeki z id'li elementi sec  */
/* p.x .y #z {
}
<p class="x">
<div class="y">
  <div id="z"></div>
</div>
</p> */



